.welcome {
  color: var(--light-text-color);
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 60px;
}

.create {
  color: var(--color--bg1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  letter-spacing: 1px;
}
