.Home2 {
  display: flex;
  height: 100vh;
  width: 100%;

  .text {
    background-color: var(--color--bg1);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .welcome {
      color: var(--light-text-color);
      font-weight: 500;
      letter-spacing: 2px;
      font-size: 60px;
    }
  }
  .main {
    background-color: var(--color--bg2);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--dark-text-color);
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  .input {
    border: none;
    width: 100%;
    background-color: var(--placeholder-color);
    margin-top: 20px;
    padding: 20px;
  }
  button {
    border-radius: 20px;
    border: 1px solid var(--button-color);
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top: 20px;

    &:active {
      transform: scale(0.95);
    }

    &:focus {
      outline: none;
    }
  }
}
