.header {
  .navbar {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    justify-content: space-between;

    .navicon {
      height: 50px;
      width: 50px;
      padding: 10px;
      margin: 10px;
      cursor: pointer;

      &:hover {
        transition: step-end;
      }
    }
  }
  .profile {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}
