.detail {
  .stylebox1 {
    display: block;

    .title {
      font-family: 'Patua One', cursive;
      font-size: 4rem;
      font-weight: 600;
      color: var(--dashboard-headline-color);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .author {
      font-family: 'Great Vibes', cursive;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      color: var(--dashboard-highlight-color);
    }
  }
  .content {
    font-family: 'Serif', cursive;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 600;
    color: var(--dashboard-paragraph-color);
    margin: 50px;
  }
}
