.Card {
  display: flex;
  justify-content: center;
  height: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30%;
  background-color: var(--dashboard-card-color);
  color: var(--dashboard-card-content-color);
  padding: 60px;

  .cardTitle {
    text-decoration: none;
    font-family: 'Patua One', cursive;
    color: var(--dashboard-card-content-color);
  }
  .cardeditdelete {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cardedit {
    margin: 20px;
  }
}
